/* src/components/Playbar.css */
.playbar {
    border-style:inset;
    border-color: rgba(247, 94, 6, 0.911);
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1e2430;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.playbar-info {
    display: flex;
    align-items: center;
}

.podcast-image {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.playbar-controls button {
    background-color: #1f93c9;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
}

.playbar-controls button:hover {
    background-color: #777;
}
